<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles/index.css" />
    <title>ERROR</title>
  </head>
  <body class="page">
    <section class="error">
      <div class="error__inner">
        <div class="error__list">
          <h1 class="error__title">We received a CRITICAL ERROR</h1>

          <h2 class="error__subtitle">
            Because of this, we were unable to collect and aggregate data
          </h2>

          <h3 class="error__subtitle-text">The error text is shown below:</h3>

          <blockquote class="error__text">
            <h6 class="error__title-text">$ERROR_MESSAGE</h6>
          </blockquote>
        </div>

        <div class="error__image">
          <img src="./images/pngwing.com.png" alt="картинка" />
        </div>
      </div>
    </section>
  </body>
</html>
