<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shortcut icon" href="/images/icon.png" type="image/png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>$APPNAME</title>
  </head>
  <body class="page">
    <div class="wrapper">
      <header></header>
      <main class="content">
        <section class="top-app">
          <h1
            class="top-app__title"
            data-aos="fade-down"
            data-aos-duration="2000"
          >
            $APPNAME
          </h1>
          <h2
            class="top-app__subtitle"
            data-aos="fade-left"
            data-aos-duration="2000"
          >
            $PROVIDER
          </h2>
          $ERROR_BLOCK
          <h3
            class="top-app__date"
            data-aos="fade-right"
            data-aos-duration="2000"
          >
            Generation date: $DATETIME
          </h3>
        </section>
        <section class="player">
          <div class="container">
            <div class="player__wrapper">
              <div class="player__inner-top">
                <h2 class="player__title" data-aos="zoom-out-right">Player:</h2>
                <h2 class="player__title" data-aos="zoom-out-right">
                  Records:
                </h2>
              </div>
              <div class="player__inner">
                <div class="player__profile" data-aos="zoom-out-down">
                  <ul class="player__profile-list">
                    <li>
                      <div class="player__avatar">
                        <img src="$AVATAR_URL" alt="" />
                      </div>
                    </li>
                    <li>
                      <h3 class="player__profile-name">$NICKNAME</h3>
                    </li>
                  </ul>
                  <div class="player__statistics">
                    <ul class="player__statistics-list">
                      <li>
                        <h3 class="player__statistics-title">Total Games</h3>
                      </li>
                      <li>
                        <h3 class="player__statistics-subtitle">
                          $PLAYER_TOTALGAMES
                        </h3>
                      </li>
                    </ul>
                    <ul class="player__statistics-list">
                      <li>
                        <h3 class="player__statistics-title">Win Count</h3>
                      </li>
                      <li>
                        <h3 class="player__statistics-subtitle">$PLAYER_WIN</h3>
                      </li>
                    </ul>
                    <ul class="player__statistics-list">
                      <li>
                        <h3 class="player__statistics-title">Lose Count</h3>
                      </li>
                      <li>
                        <h3 class="player__statistics-subtitle">
                          $PLAYER_LOSE
                        </h3>
                      </li>
                    </ul>
                    <ul class="player__statistics-list">
                      <li>
                        <h3 class="player__statistics-title">WinRate</h3>
                      </li>
                      <li>
                        <h3 class="player__statistics-subtitle">
                          $PLAYER_WINRATE
                        </h3>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="player__records" data-aos="zoom-out-down">
                  $RECORDS
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="statistics">
          <div class="container">
            <div class="statistics__wrapper">
              <div
                class="heroes"
                data-aos="fade-right"
                data-aos-duration="1500"
              >
                <h2 class="heroes__title">Heroes:</h2>
                <table>
                  <thead>
                    <tr>
                      <th>№</th>
                      <th colspan="2">Hero</th>
                      <th>Total Games</th>
                      <th>WinRate</th>
                      <th>WinRate %</th>
                    </tr>
                  </thead>
                  <tbody>
                    $HEROES
                  </tbody>
                </table>
              </div>
              <div class="heroes" data-aos="fade-left" data-aos-duration="1500">
                <h2 class="heroes__title">Items:</h2>
                <table>
                  <thead>
                    <tr>
                      <th>№</th>
                      <th colspan="2">Item</th>
                      <th>Total Games</th>
                      <th>WinRate</th>
                      <th>WinRate %</th>
                    </tr>
                  </thead>
                  <tbody>
                    $ITEMS
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="footer__wrapper">
            <div class="footer__version">$APP_VERSION</div>
          </div>
        </div>
        <div class="container">
          <div class="footer__wrapper">
            <div class="footer__copyright">
              <a
                href="https://github.com/ddgryaz/dotaStatsCLI"
                class="footer__link"
                target="_blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-github"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                  />
                </svg>
                <p>github</p>
              </a>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
