<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dota Stats Error</title>
  </head>
  <body>
    <div style="display: flex; justify-content: center; margin: 30px">
      <div
        style="display: flex; flex-direction: column; justify-content: center"
      >
        <h3>We received a CRITICAL ERROR</h3>
        <h4>Because of this, we were unable to collect and aggregate data</h4>
        <h5>The error text is shown below:</h5>
        <blockquote>
          <h6><b>$ERROR_MESSAGE</b></h6>
        </blockquote>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
