<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dota Stats</title>
  </head>
  <body>
    $ERROR_BLOCK
    <div style="display: flex; justify-content: space-around">
      <h3>Player:</h3>
      <h3>Statistics:</h3>
    </div>
    <div style="display: flex; justify-content: space-around">
      <div
        style="
          display: flex;
          flex-direction: column;
          align-content: center;
          align-items: center;
        "
      >
        <div>
          <img src="$AVATAR_URL" alt="" class="circle" />
        </div>
        <div style="margin-top: 20px">$NICKNAME</div>
      </div>
      <div>
        <table class="striped">
          <thead>
            <tr>
              <th>Total Games</th>
              <th>Win Count</th>
              <th>Lose Count</th>
              <th>WinRate</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>$PLAYER_TOTALGAMES</td>
              <td>$PLAYER_WIN</td>
              <td>$PLAYER_LOSE</td>
              <td>$PLAYER_WINRATE</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      style="display: flex; justify-content: space-around; margin-top: 100px"
    >
      <h3>Heroes:</h3>
      <h3>Items:</h3>
    </div>
    <div style="display: flex; justify-content: space-around">
      <div>
        <table class="striped">
          <thead>
            <tr>
              <th>№</th>
              <th></th>
              <th>Hero</th>
              <th>Total Games</th>
              <th>WinRate</th>
              <th>WinRate %</th>
            </tr>
          </thead>
          <tbody>
            $HEROES
          </tbody>
        </table>
      </div>
      <div>
        <table class="striped">
          <thead>
            <tr>
              <th>№</th>
              <th></th>
              <th>Item</th>
              <th>Total Games</th>
              <th>WinRate</th>
              <th>WinRate %</th>
            </tr>
          </thead>

          <tbody>
            $ITEMS
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
