.error {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: url(/images/backgroundError.jpg);
}
.error__inner {
  margin: 80px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.error__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.error__title {
  color: aliceblue;
  font-weight: 400;
  font-size: 2.92rem;
  line-height: 110%;
}
.error__subtitle {
  color: aliceblue;
  font-weight: 300;
  font-size: 2.28rem;
  line-height: 110%;
}
.error__subtitle-text {
  color: aliceblue;
  font-weight: 300;
  font-size: 1.64rem;
  line-height: 110%;
}
.error__title-text {
  color: aliceblue;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 110%;
}
.error__text {
  max-width: 800px;
  width: 100%;
  padding: 1.5rem;
  box-sizing: border-box;
  border-left: 3px solid red;
  word-break: break-all;
}
.error__image {
  margin: auto auto 0;
  width: 500px;
  height: 500px;
}
.error__image img {
  width: 100%;
  height: 100%;
}
